<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="css/my_style.css">

		<script src="js/index.js"></script>
		<script src="libs/angular.min .js"></script>
		<script src="libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script src="libs/bootstrap-3.3.7-dist/js/jquery-1.11.3.min.js"></script>
	</head>
	<body>
		<div id="app_layout" class="row" style="background-image: url(images/backgrond.jpg);">
			<div class="col-md-4"></div>
			<div id="login_form" class="col-md-4" ng-app="">
				<p>Name : <input type="text" ng-model="name"></p>
				<p>Password : <input type="password" ng-model="password"></p>
				<button id="login_submit_btn" type="button" class="btn btn-primary">Submit</button>
			</div>
			<div class="col-md-4"></div>
		</div>
	</body>
	</html>